<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>practiceit</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4"><p>foiwjeoiwfjiowejfiowe</p></div>
        <div class="col-md-8">
            <h1 style="margin-top: 30px;margin-bottom: 30px;font-size: 30px">oioknf</h1>
                        <h1 style="margin-top: 30px;margin-bottom: 30px;font-size: 30px">oioknf</h1>
            <h1 style="margin-top: 30px;margin-bottom: 30px;font-size: 30px">oioknf</h1>
            <h1 style="margin-top: 30px;margin-bottom: 30px;font-size: 30px">oioknf</h1>
            <h1 style="margin-top: 30px;margin-bottom: 30px;font-size: 30px">oioknf</h1>
            <h1 style="margin-top: 30px;margin-bottom: 30px;font-size: 30px">oioknf</h1>
            <h1 style="margin-top: 30px;margin-bottom: 30px;font-size: 30px">oioknf</h1>
            <h1 style="margin-top: 30px;margin-bottom: 30px;font-size: 30px">oioknf</h1>
            <h1 style="margin-top: 30px;margin-bottom: 30px;font-size: 30px">oioknf</h1>
            <h1 style="margin-top: 30px;margin-bottom: 30px;font-size: 30px">oioknf</h1>
            <h1 style="margin-top: 30px;margin-bottom: 30px;font-size: 30px">oioknf</h1>
            <h1 style="margin-top: 30px;margin-bottom: 30px;font-size: 30px">oioknf</h1>

        </div>
    </div>
</div>
</body>
</html>